<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AngularJS - Getting Started</title>
    <link rel="shortcut icon" href="https://material.angularjs.org/latest/favicon.ico" type="image/x-icon">

    <!-- Global Styles -->
    <link rel="stylesheet" href="app/global.css">
    <!-- Angular Cloak Style-->
    <link rel="stylesheet" href="app/angular-cloak.css">
    <!-- Material Icons -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!-- AngularJS Material Styles -->
    <link rel="stylesheet"
        href="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.12/angular-material.min.css">

</head>

<body ng-app="angusCore" ng-cloak>

    <div class="box" ng-controller="AppController as App">
        <div class="inline-block">
            <h1>Welcome to {{App.appName}}</h1>

            <h3>Choose your juice flavor:</h3>

            <div class="flex-rows">
                <span ng-repeat="fruit in App.fruits">
                    <g-radio-input ng-value="{{fruit.name}}" ng-display="{{fruit.name}}" ng-group="fruit"
                        ng-model="App.chosenFruit" ng-disabled="!fruit.inStock"></g-radio-input>
                    <span ng-if="!fruit.inStock">Out of stock</span>
                </span>
                <p ng-if="App.chosenFruit" class="bottom-text">
                    Wow! <strong>{{App.chosenFruit}} juice </strong>is one of my <i>favorites</i>!
                </p>
            </div>

        </div>
    </div>
    <!-- AngularJS L'ibraries -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.9/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.9/angular-route.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.9/angular-animate.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.9/angular-aria.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.9/angular-messages.min.js"></script>

    <!-- Angular Material Library -->
    <script src="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.12/angular-material.min.js"></script>

    <!-- Angular Modules -->
    <script src="app/App.js"></script>

    <!-- Our Angular Components -->
    <script src="components/common/GRadioInput/GRadioInput.js"></script>
</body>

</html>